<!DOCTYPE html>
<html lang="en">
<%- include('header') %>
<body>

    <div class="bckgrnd">
        <div class="container w-50 d-flex justify-content-center p-4 mb-2">
            <h1>Collège-Lycée ASIMOV</h1>
        </div><br>
        
        <div class="container w-75 d-flex justify-content-left p-4 mb-2 text-black"> 
            <h2> Prendre soin de nos patients <br> en quelques clics ! </h2>
        </div>
        
        <div class="container w-75 d-flex justify-content-left p-4 mb-2 text-black">
            <h3> La Pharmacie sauteuhz <br> est le réseau n°1 en ligne de gestion de client. </h3>
        </div>
        
        <div class="container w-75 d-flex justify-content-left p-4 mb-2 text-black">
            <h3>Le réseau Pharmacie Sauteuhz est là pour vous aider. </h3>
        </div>
        
        <div class="image">
            <img src="images/logoPharmacie.png" alt="logoPharmacie">
        </div>
        
        <div class="btn btn-light btn-lg btn-block">    
            <a href="http://localhost:3000/addOrdonnance"><button type="button" class="btn btn-default btn-lg btn-custom-lg button1">Déposer une ordonnance</button></a>
            <a href="http://localhost:3000/addPatient"><button type="button" class="btn btn-square-xl button2">Ajouter un nouveau patient</button></a>
            <a href="http://localhost:3000/addMedicament"><button type="button" class="btn btn-square-xl button3">Ajouter un médicament au stock</button></a>
            <a href="http://localhost:3000/consultOrdonnance"><button type="button" class="btn btn-square-xl button4">Consulter une ordonnance</button></a>
            <a href="http://localhost:3000/consultListePatient"><button type="button" class="btn btn-square-xl button5">Consulter la fiche d'un patient</button></a>
            <a href="http://localhost:3000/consultStock"><button type="button" class="btn btn-square-xl button6">Consulter les stocks</button></a>
        </div>
        
    </div>
    
</body>
<%- include('footer') %>
</html>