<%- include('header') %>
<!DOCTYPE html>
<html lang="en">
<body>

    <div class="bckgrnd">
        <div class="container w-50 d-flex justify-content-center p-4 mb-2">
            <h1>Collège-Lycée ASIMOV</h1>
        </div><br>
        
        <div class="image">
            <img src="../public/images/logo.png" alt="logo">
        </div>
        
        <div class="btn btn-light btn-lg btn-block">    
            <a href="http://localhost:3000/direction"><button type="button" class="btn btn-default btn-lg btn-custom-lg button1">Direction</button></a>
            <a href="http://localhost:3000/professeurs"><button type="button" class="btn btn-square-xl button2">Professeurs</button></a>
            <a href="http://localhost:3000/eleves"><button type="button" class="btn btn-square-xl button3">Élèves</button></a>
        </div>
        
    </div>
    
</body>
</html>
<%- include('footer') %>