<%- include('header') %>
<!DOCTYPE html>
<html lang="en">
<body>

    <h1 class="d-flex justify-content-center">Collège-Lycée ASIMOV</h1>
    <p><br></p>


    <div class="d-flex justify-content-space-evenly">
        <img src="/images/logo.png" class="logoAccueil">

        <div class="container d-flex flex-column text-center w-25 h-50 p-5 fondBoutons">
            <a href="http://localhost:3000/connexionDirecteur"><button type="button" class="btn btn-lg button1 btn btn-light btn-lg btn-block"><img src="/images/direction.png" class="photoMenu">Direction</button></a><br>
            <a href="http://localhost:3000/connexionProf"><button type="button" class="btn btn-square-xl button2 btn btn-light btn-lg btn-block"><img src="/images/prof.png" class="photoMenu">Professeurs</button></a><br>
            <a href="http://localhost:3000/connexionEleve"><button type="button" class="btn btn-square-xl button3 btn btn-light btn-lg btn-block"><img src="/images/student.png" class="photoMenu">Élèves</button></a>
        </div>
    </div>
    <p><br></p><br>

</body>
</html>
<%- include('footer') %>