<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style_connexion.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
    <title>Authentification</title>
</head>

<body>

    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <img src="/images/logo.png">
            </div>
            <div class="login-card-header">
                <h1>Authentification</h1>
                <div>Connectez-vous pour utiliser la plateforme</div>
            </div>
            <form action="/connexionProf" method="POST" enctype="application/x-www-form-urlencoded" class="login-card-form"
                id="formulaire">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="text" name="pseudo" id="pseudo" placeholder="Entrez votre nom d'utilisateur" autofocus
                        required>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" name="mdp" id="mdp" placeholder="Entrez votre mot de passe" required>
                </div>
                <button type="submit">Connexion</button>
            </form>
        </div>
    </div>

</html>