<footer id="footer" class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Qui sommes-nous ?</h5>
        <p>La Pharmacie SAUTEUHZ est un organisme situé à Givors, près de Lyon. Elle détient un outil de gestion d'ordonnances, de clients ainsi que de stock de médicaments pour les patients présentant une pathologie.</p>
      </div>
      <!--Grid column-->
      
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Nous contacter</h5>
        <ul class="list-unstyled">
          <li>
            <p>Pharmarcie SAUTEUHZ - 25 Rue Victor Hugo, 69700 Givors</p>
            <p>Tél : 04 78 73 00 09 | Fax : 04 78 73 53 81</p>
          </li>
          <li>
            <a href="tel:0478730009" class="text-dark"></a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Légal</h5>
        
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Conditions</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Mentions Légales</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Cookies</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
  
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022-2023 Copyright :
    <a class="text-dark" href="https://youtu.be/dQw4w9WgXcQ?t=42"> Pharmacie Sauteuhz </a>
  </div>
  <!-- Copyright -->
</footer>