<%- include('header') %>

<html lang="en">
<body>

    <h1 class="d-flex justify-content-center">MENU</h1>
    <p><br></p>

    <div class="d-flex justify-content-space-evenly">
        <img src="/images/logo.png" class="logoAccueil">

        <div class="container d-flex flex-column text-center w-25 h-50 p-5 fondBoutons menuMENU">
            <a href="http://localhost:3000/addMatiere"><button type="button" class="btn btn-lg button1 btn btn-light btn-lg btn-block">Ajouter une matière</button></a>
            <a href="http://localhost:3000/matieres"><button type="button" class="btn btn-lg button1 btn btn-light btn-lg btn-block">Matières</button></a>
            <a href="http://localhost:3000/addProfesseur"><button type="button" class="btn btn-square-xl button2 btn btn-light btn-lg btn-block">Ajouter un professeur</button></a>
            <a href="http://localhost:3000/professeurs"><button type="button" class="btn btn-lg button1 btn btn-light btn-lg btn-block">Professeurs</button></a>
            <a href="http://localhost:3000/addEleve"><button type="button" class="btn btn-square-xl button2 btn btn-light btn-lg btn-block">Ajouter un élève</button></a>
            <a href="http://localhost:3000/eleves"><button type="button" class="btn btn-square-xl button2 btn btn-light btn-lg btn-block">Élèves</button></a>
            <a href="http://localhost:3000/addClasse"><button type="button" class="btn btn-lg button1 btn btn-light btn-lg btn-block">Ajouter une classe</button></a>
            <a href="http://localhost:3000/classes"><button type="button" class="btn btn-lg button1 btn btn-light btn-lg btn-block">Classes</button></a>
            <a href="http://localhost:3000/addNotes"><button type="button" class="btn btn-square-xl button3 btn btn-light btn-lg btn-block">Ajouter une note</button></a>
            <a href="http://localhost:3000/suiviNotes"><button type="button" class="btn btn-square-xl button3 btn btn-light btn-lg btn-block">Suivi notes</button></a>
        </div>
    </div>
    <p><br></p><br>

    
</body>
</html>

<%- include('footer') %>