<%- include('headerEleve') %>

<html lang="en">
<body>

    <h1 class="d-flex justify-content-center">MENU</h1>
    <p><br></p>

    <div class="d-flex justify-content-space-evenly">
        <img src="/images/logo.png" class="logoAccueil">

        <div class="container d-flex flex-column text-center w-25 h-50 p-5 fondBoutons menuMENU">
            <a href="http://localhost:3000/suiviNotes"><button type="button" class="btn btn-square-xl button3 btn btn-light btn-lg btn-block">Suivi notes</button></a>
        </div>
    </div>
    <p><br></p><br>

    
</body>
</html>

<%- include('footer') %>