<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
        }
        .error-container {
            text-align: center;
        }
        
        .error-title {
            color: #666;
        }
        
        .error-message {
            font-size: 18px;
            color: #999;
            margin-bottom: 20px;
        }
    </style>

</head>
<body>

    <% if(cookie != undefined){%>
        <% if(cookie == 'Principal'){%>
            <%- include('headerPrincipal') %>
        <% }else if(cookie == 'Professeur'){ %>
            <%- include('headerProfesseur') %>
        <% }else{ %>
            <%- include('headerEleve') %>
        <% } %>
    <% } %>

    <div class="error-container">
        <h1 class="error-title">Oops</h1>
        <p class="error-message">Il semblerait qu'il y ait eu une erreur</p>
    </div>
    
</body>
</html>